.show-content {
  display: flex;
  margin-top: 15px;
  overflow: auto;
  -webkit-overflow-scrolling:touch;
}

.showImage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.show-container {
  width: calc(83.077% - 700px);
  margin-left: auto;
}

.show-item_name {
  text-align: right;
  font-weight: bold;
}

.btn_group {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.show-img {
  width: 761px;
  height: 505px;
}

.edit_img {
  display: flex;
  justify-content: center;
}

.edit-img {
  height: 400px;
  width: 508px;
}

h3 {
  position: relative;
  padding: 0.6em;
  background: #FFCE7F;
}

h3:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #FFCE7F;
  width: 0;
  height: 0;
}

.content-name {
  padding: 0;
  position: relative;
}

.content-name.content-name-li, .content-name-li {
  color: black;
  border-left: solid 8px orange;/*左側の線*/
  background: whitesmoke;/*背景色*/
  margin-bottom: 20px;/*下のバーとの余白*/
  line-height: 1.5;
  border-radius: 0 15px 15px 0;/*右側の角だけ丸く*/
  padding: 0.5em;
  list-style-type: none!important;
}


@media screen and (max-width:991px) {

  .showImage {
    margin:0 auto;
  }

  .show-content {
    display: flex;
    flex-direction: column;
  }

  .show-container {
    width: calc(100% - 20px);
    margin: 0 auto;
  }

  .show-img {
    width: 380px;
    height: auto;
  }
}