.form-wrapper {
  display: flex;
}

.edit-content {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling:touch;
}

.edit_img {
  display: flex;
  justify-content: center;
}

.edit-img {
  height: 400px;
  width: 508px;
}

.edit-form {
  /* height: calc(100vh - 63px); */
  margin-top: 13px;
}