.form-wrapper {
  display: flex;
  height: calc(100vh - 63px);
  overflow: auto;
  -webkit-overflow-scrolling:touch;
}

#edit-content {
}

.edit_img {
  display: flex;
  justify-content: center;
}

.edit-img {
  height: 400px;
  width: 508px;
}